[submodule "stm32/STM32F1xx_HAL_Driver"]
	path = stm32/STM32F1xx_HAL_Driver
	url = ssh://git@tropic-gitlab.corp.sldev.cz:7999/internal/third-party/stm32f1xx_hal_driver

	# Original STM32F1 repo :
	# url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver.git

[submodule "stm32/STM32L4xx_HAL_Driver"]
	path = stm32/STM32L4xx_HAL_Driver
	url = ssh://git@tropic-gitlab.corp.sldev.cz:7999/internal/third-party/stm32l4xx-hal-driver.git

	# Original STM32L4 repo :
	# url = https://github.com/STMicroelectronics/stm32l4xx_hal_driver.git

[submodule "stm32/STM32U5xx_HAL_Driver"]
	path = stm32/STM32U5xx_HAL_Driver
	url = ssh://git@tropic-gitlab.corp.sldev.cz:7999/internal/third-party/stm32u5xx-hal-driver.git
